#searchButton {
	border: none;
	margin: 10px 10px 10px 10px;
	color: #ffffff;
	background-color: #0BADD4;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
}

#searchBox {
	margin: 30px 0px 0px 10px;
	border-style: solid;
	border-width: 2px; 
	border-color: #0BADD4;
	height: 35px;
	width: 200px;
	font-size: 18px;
}

.buttonAppender {
	border: none;
	margin: 10px 10px 10px 10px;
	color: #ffffff;
	background-color: #0BADD4;
	font-size: 20px;
	padding: 8px 15px 8px 15px;
}

.heading {
	text-align: center;
}

.gifButtonsDiv {
	text-align: center;
}

.formDiv {
	text-align: center;
}

h1 {
	background-color: #0BADD4;
	color: #ffffff;
	padding: 15px 0px 15px 0px;
}

.float {
	float: left;
}
